<h1>Welcome <%= @user.first_name %></h1>
<% if @user.recipes %>
	<ul >
	    <% @user.recipes.each do |recipe| %>
	      <li><%= recipe.name %><br>
	      <span class="forks"><%= @recipe.avg_rating %></span> forks <br>
	         <%= link_to "Edit", edit_recipe_path(recipe) %>
	      </li>
	    <% end %>
	</ul>
<% end %>
